.header {
    text-align: center;
    color: white;
    background-color: mediumaquamarine;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-color: darkgrey;
    direction: rtl;
}
.footer {
    text-align: center;
    color: white;
    background-color: mediumaquamarine;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-color: darkgrey;
    direction: ltr;
}
body {
    background-color: steelblue;
    font-family: "sans-serif", "verdana", "tahoma";
    font-size: 12px;
    color: lightpink;
    font-weight: bold;
    text-align: right;
    direction: ltr;
}
a:link, a:visited {
    color: lightpink;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    color: white;
    font-weight: bold;
    background-color: chocolate;
}
li {
    display: inline;
}